{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url({% static 'images/img_bg_4.jpg' %})" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row row-mt-15em">
				<div class="col-md-7 mt-text text-left animate-box" data-animate-effect="fadeInUp">
					<h1>Our <strong>Portfolio</strong></h1>	
					<h2>Far far away, behind the word mountains, far from the countries Vokalia.</h2>
				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section gtco-gray-bg">
		<div class="gtco-container">
			<div class="row">

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>
				<div class="clearfix visible-sm-block"></div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_2.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#" class="gtco-card-item">
						<figure>
							<div class="overlay"><i class="ti-plus"></i></div>
							<img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-responsive">
						</figure>
						<div class="gtco-text">
							<h2>Project Name Here</h2>
							<p>Far far away, behind the word mountains, far from the countries Vokalia..</p>
							<p class="gtco-category"><span>Web Design</span>, <span>Branding</span>, <span>Illustrator</span></p>
						</div>
					</a>
				</div>

				<div class="clearfix visible-lg-block visible-md-block"></div>
				<div class="clearfix visible-sm-block"></div>

			</div>
		</div>
	</div>

	
	
	<div class="gtco-cover gtco-cover-sm" style="background-image: url(images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="gtco-container text-center">
			<div class="display-t">
				<div class="display-tc">
					<h1>We have high quality services that you will surely love!</h1>
				</div>	
			</div>
		</div>
	</div>


	<footer id="gtco-footer" role="contentinfo">
		<div class="gtco-container">
			<div class="row row-p	b-md">

				<div class="col-md-4">
					<div class="gtco-widget">
						<h3>About Us</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore eos molestias quod sint ipsum possimus temporibus officia iste perspiciatis consectetur in fugiat.</p>
						<p><a href="#">Learn more...</a></p>
					</div>
				</div>

				<div class="col-md-4 col-md-push-1">
					<div class="gtco-widget">
						<h3>Services</h3>
						<ul class="gtco-footer-links">
							<li><a href="#">Data Analytics</a></li>
							<li><a href="#">Web Development</a></li>
							<li><a href="#">Branding &amp; Identity</a></li>
							<li><a href="#">eCommerce Development</a></li>
							<li><a href="#">Design &amp; UX</a></li>
							<li><a href="#">Strategt</a></li>
						</ul>
					</div>
				</div>

				

				<div class="col-md-3 col-md-push-1">
					<div class="gtco-widget">
						<h3>Get In Touch</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +1 234 567 890</a></li>
							<li><a href="#"><i class="icon-mail2"></i> info@GetTemplates.co</a></li>
							<li><a href="#"><i class="icon-chat"></i> Live Chat</a></li>
						</ul>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12">
					<p class="pull-left">
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://GetTemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
					</p>
					<p class="pull-right">
						<ul class="gtco-social-icons pull-right">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

		</div>
{% endblock content %}